# NASA - 01 - Clean #

In [230]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import yaml

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_rows', None)

sns.set_style("darkgrid")

from IPython.display import display, Markdown
from pprint import pprint

DEBUG = True

In [231]:
import sys, os, yaml

DATASET = "NASA"

COLAB = 'google.colab' in sys.modules
if COLAB:
    ROOT = f"/content/gdrive/MyDrive/datasets/{DATASET.replace(' ','_')}/"
else:
    ROOT = "./"

DEBUG = False
SEED = 1612

In [232]:
if COLAB:
    from google.colab import drive
    if not os.path.isdir("/content/gdrive"):
        drive.mount("/content/gdrive")
        d = "/content/gdrive/MyDrive/datasets"
        if not os.path.isdir(d): os.makedirs(d)
        if not os.path.isdir(ROOT): os.makedirs(ROOT)

def makedirs(d):
    if COLAB:
        if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d)
    else:
        if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d, mode=0o777, exist_ok=True)

for d in ['orig','data','output']: makedirs(d)

In [233]:
filename = f"{ROOT}/orig/data.csv"
if os.path.isfile(filename):
    print("Using local copy...")
else:
    print("Downloading...")
    df = pd.read_csv("https://setu-datamining2.github.io/live/topics/21-Assignments/01-NASA_Software_Defect_Datasets/files/pc2.csv")
    df.to_csv(filename, index=False)

df = pd.read_csv(filename);
print(df.shape)
df.head()

Using local copy...
(5589, 37)

   BRANCH_COUNT  CALL_PAIRS  LOC_CODE_AND_COMMENT  LOC_COMMENTS  CONDITION_COUNT  CYCLOMATIC_COMPLEXITY  CYCLOMATIC_DENSITY  DECISION_COUNT  DECISION_DENSITY  DESIGN_COMPLEXITY  DESIGN_DENSITY  EDGE_COUNT  ESSENTIAL_COMPLEXITY  ESSENTIAL_DENSITY  LOC_EXECUTABLE  PARAMETER_COUNT  HALSTEAD_CONTENT  HALSTEAD_DIFFICULTY  HALSTEAD_EFFORT  HALSTEAD_ERROR_EST  HALSTEAD_LENGTH  HALSTEAD_LEVEL  HALSTEAD_PROG_TIME  HALSTEAD_VOLUME  MAINTENANCE_SEVERITY  MODIFIED_CONDITION_COUNT  MULTIPLE_CONDITION_COUNT  NODE_COUNT  NORMALIZED_CYLOMATIC_COMPLEXITY  NUM_OPERANDS  NUM_OPERATORS  NUM_UNIQUE_OPERANDS  NUM_UNIQUE_OPERATORS  NUMBER_OF_LINES  PERCENT_COMMENTS  LOC_TOTAL  defects
0           1.0         0.0                   0.0           0.0              0.0                    1.0                1.00             0.0               0.0                1.0             1.0         1.0                   1.0                0.0             0.0              2.0              5.33                 1.50            12.00                0.00              4.0            0.67                0.67             8.00                   1.0                       0.0                       0.0         2.0                             0.50           1.0            3.0                  1.0                   3.0              2.0              0.00        0.0    False
1           1.0         1.0                   0.0           0.0              0.0                    1.0                1.00             0.0               0.0                1.0             1.0         2.0                   1.0                0.0             0.0              1.0              0.00                 0.00             0.00                0.00              1.0            0.00                0.00             0.00                   1.0                       0.0                       0.0         3.0                             1.00           1.0            0.0                  1.0                   0.0              1.0              0.00        0.0    False
2           1.0         4.0                   7.0          24.0              0.0                    1.0                0.13             0.0               0.0                1.0             1.0         6.0                   1.0                0.0             1.0              0.0             17.88                 7.43           986.77                0.04             34.0            0.13               54.82           132.83                   1.0                       0.0                       0.0         7.0                             0.03          13.0           21.0                  7.0                   8.0             34.0             96.88        8.0    False
3           1.0         1.0                  11.0           3.0              0.0                    1.0                0.08             0.0               0.0                1.0             1.0         2.0                   1.0                0.0             1.0              0.0             42.62                 7.81          2598.31                0.11             77.0            0.13              144.35           332.79                   1.0                       0.0                       0.0         3.0                             0.06          29.0           48.0                 13.0                   7.0             17.0             93.33       12.0    False
4           1.0         1.0                   0.0           0.0              0.0                    1.0                1.00             0.0               0.0                1.0             1.0         2.0                   1.0                0.0             1.0              3.0             33.44                 0.63            13.06                0.01              9.0            1.60                0.73            20.90                   1.0                       0.0                       0.0         3.0                             0.33           5.0            4.0                  4.0                   1.0              3.0              0.00        1.0    False

## Table 1 - Summary

### Attempt 1 - score max 30%

* no interpretation
* no comparison with paper

In [234]:
df.shape

(5589, 37)

### Attempt 2 - score max 40%-50%
* interpretation
* no comparison with paper

In [235]:
print("Number of cases: ", df.shape[0])
print("Number of features: ", df.shape[1])

Number of cases:  5589
Number of features:  37

### Attempt 3a - score max 100%
* interpretation
* comparison with paper

Also
* use fancier print statements

In [236]:
for message, expected, observed in [
    ("Number of cases", 5589, df.shape[0]),
    ("Number of features", 37, df.shape[1])
]:
    match = expected==observed
    print(f" * {message} {expected=} {observed=} {match=}")

 * Number of cases expected=5589 observed=5589 match=True
 * Number of features expected=37 observed=37 match=True

### Attempt 3b - score max 100%
* interpretation
* comparison with paper

Also
* use markdown

In [237]:
messages = []
for message, expected, observed in [
    ("Number of cases", 5589, df.shape[0]),
    ("Number of features", 37, df.shape[1])
]:
    match = "" if expected==observed else "FAIL"
    messages.append(f" * {message} {expected=} {observed=} {match}")

display(Markdown("\n".join(messages)))

 * Number of cases expected=5589 observed=5589
 * Number of features expected=37 observed=37

### Attempt 3c - score max 100%
* interpretation
* comparison with paper

Also
* use dataframe

In [238]:
data = []
for message, expected, observed in [
    ("Number of cases", 5589, df.shape[0]),
    ("Number of features", 37, df.shape[1])
]:
    data.append([message, expected, observed])

df_result = pd.DataFrame(data, columns=["Message", "Expected", "Observed"])
df_result.head()
# For bonus points add a style to highlight rows that do not match

              Message  Expected  Observed
0     Number of cases      5589      5589
1  Number of features        37        37

## Table 3 by Features

### A - Identical Features

In [239]:
table_3_A_observed = df.transpose().duplicated()
table_3_A_observed = table_3_A_observed[table_3_A_observed]
len(table_3_A_observed)

0

### B - Constant Features

In [240]:
table_3_B_observed = df.columns[df.nunique() <= 1]
len(table_3_B_observed)

0

### C - Missing Values

In [241]:
table_3_C_observed = df.isna().any()
table_3_C_observed = table_3_C_observed[table_3_C_observed]
len(table_3_C_observed)

0

### D - Conflicting Values

These checks were listed in the document but had issues in being executed:
 - NUMBER_OF_LINES >= LOC_BLANK ("LOC_BLANK" doesn't exist)

Define the list of Referential Integrity Checks and the amount of features in each check.

In [242]:
def edited_integrity_checks(local_df):
    return {
    f"{local_df}.NUMBER_OF_LINES < {local_df}.LOC_TOTAL" : ["NUMBER_OF_LINES", "LOC_TOTAL"],
    f"{local_df}.NUMBER_OF_LINES < {local_df}.LOC_CODE_AND_COMMENT" : ["NUMBER_OF_LINES", "LOC_CODE_AND_COMMENT"],
    f"{local_df}.NUMBER_OF_LINES < {local_df}.LOC_COMMENTS" : ["NUMBER_OF_LINES", "LOC_COMMENTS"],
    f"{local_df}.NUMBER_OF_LINES < {local_df}.LOC_EXECUTABLE" : ["NUMBER_OF_LINES", "LOC_EXECUTABLE"],
    f"{local_df}.LOC_TOTAL < {local_df}.LOC_EXECUTABLE" : ["LOC_TOTAL", "LOC_EXECUTABLE"],
    f"{local_df}.LOC_TOTAL < {local_df}.LOC_CODE_AND_COMMENT" : ["LOC_TOTAL", "LOC_CODE_AND_COMMENT"],
    f"{local_df}.NUM_OPERANDS < {local_df}.NUM_UNIQUE_OPERANDS" : ["NUM_OPERANDS", "NUM_UNIQUE_OPERANDS"],
    f"{local_df}.NUM_OPERATORS < {local_df}.NUM_UNIQUE_OPERATORS" : ["NUM_OPERATORS", "NUM_UNIQUE_OPERATORS"],
    f"{local_df}.HALSTEAD_LENGTH != {local_df}.NUM_OPERATORS + {local_df}.NUM_OPERANDS" : ["HALSTEAD_LENGTH", "NUM_OPERATORS", "NUM_OPERANDS"],
    f"{local_df}.CYCLOMATIC_COMPLEXITY > {local_df}.NUM_OPERATORS+1" : ["CYCLOMATIC_COMPLEXITY", "NUM_OPERATORS"],
    f"{local_df}.CALL_PAIRS > {local_df}.NUM_OPERATORS" : ["CALL_PAIRS", "NUM_OPERATORS"],
    f"{local_df}.HALSTEAD_VOLUME != round(({local_df}.NUM_OPERATORS + {local_df}.NUM_OPERANDS) * np.log2({local_df}.NUM_UNIQUE_OPERATORS + {local_df}.NUM_UNIQUE_OPERANDS), 2)" : ["HALSTEAD_VOLUME", "NUM_OPERATORS", "NUM_OPERANDS", "NUM_UNIQUE_OPERATORS", "NUM_UNIQUE_OPERANDS"],
    f"{local_df}.HALSTEAD_LEVEL != round((2 / {local_df}.NUM_UNIQUE_OPERATORS) * ({local_df}.NUM_UNIQUE_OPERANDS / {local_df}.NUM_OPERANDS), 2)" : ["HALSTEAD_LEVEL", "NUM_UNIQUE_OPERATORS", "NUM_UNIQUE_OPERANDS", "NUM_OPERANDS"],
    f"{local_df}.HALSTEAD_DIFFICULTY != round(({local_df}.NUM_UNIQUE_OPERATORS / 2) * ({local_df}.NUM_OPERANDS / {local_df}.NUM_UNIQUE_OPERANDS), 2)" : ["HALSTEAD_DIFFICULTY", "NUM_UNIQUE_OPERATORS", "NUM_OPERANDS", "NUM_UNIQUE_OPERANDS"],
    f"{local_df}.HALSTEAD_CONTENT != round({local_df}.HALSTEAD_VOLUME / {local_df}.HALSTEAD_DIFFICULTY, 2)" : ["HALSTEAD_CONTENT", "HALSTEAD_VOLUME", "HALSTEAD_DIFFICULTY"],
    f"{local_df}.HALSTEAD_EFFORT != round({local_df}.HALSTEAD_VOLUME * {local_df}.HALSTEAD_DIFFICULTY, 2)" : ["HALSTEAD_EFFORT", "HALSTEAD_VOLUME", "HALSTEAD_DIFFICULTY"],
    f"{local_df}.HALSTEAD_PROG_TIME != round({local_df}.HALSTEAD_EFFORT / 18, 2)" : ["HALSTEAD_PROG_TIME", "HALSTEAD_EFFORT"]
}

In [243]:
def table_3_D():
    conflicting_features = set()

    for expr, features in edited_integrity_checks("df").items():
        if eval(expr).any():
            conflicting_features.update(features)
            continue

    return conflicting_features

table_3_D_observed = table_3_D()
len(table_3_D_observed)

C:\Users\Kuba\anaconda3\envs\DataMining2Labs\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)

11

### E - Implausible Values

In [244]:
def table_3_E(df):
    implausible_features = set()

    # Check if any result for LOC_TOTAL is 0
    if (df["LOC_TOTAL"] == 0).any(): implausible_features.add("LOC_TOTAL")

    # Check for any feature that has a value of less than 0
    implausible_features.update(df.columns[(df < 0).any(axis=0)])

    # Check if any 'COUNT' value is not an integer.
    # Because all values in this DF are floats, and because casting these floats to an int
    # would change their values if they weren't whole numbers, a modulo operator is used instead.
    for col_name, col_values in df.items():
        if("COUNT" in col_name):
            if col_values.apply(lambda x: x % 1 != 0).any():
                implausible_features.add(col_name)

    return implausible_features

table_3_E_observed = table_3_E(df)
len(table_3_E_observed)

1

### F - Total Problem Features

In [245]:
table_3_F_observed = set()
table_3_F_observed.update(table_3_A_observed, table_3_B_observed, table_3_C_observed, table_3_D_observed, table_3_E_observed)
len(table_3_F_observed)

12

### Summary

In [246]:
data = []
for message, expected, observed in [
    ("Identical Features", 0, len(table_3_A_observed)),
    ("Constant Features", 0, len(table_3_B_observed)),
    ("Features with Missing Values", 0, len(table_3_C_observed)),
    ("Features with Conflicting Values", 2, len(table_3_D_observed)),
    ("Features with Implausible Values", 1, len(table_3_E_observed)),
    ("Total Problem Features", 3, len(table_3_F_observed))
]:
    data.append([message, expected, observed])

df_result = pd.DataFrame(data, columns=["Message", "Expected", "Observed"])
display(Markdown("**Table 3 (by features) Comparison**"))
df_result
# For bonus points add a style to highlight rows that do not match

**Table 3 (by features) Comparison**

                            Message  Expected  Observed
0                Identical Features         0         0
1                 Constant Features         0         0
2      Features with Missing Values         0         0
3  Features with Conflicting Values         2        11
4  Features with Implausible Values         1         1
5            Total Problem Features         3        12

## Table 4 by Case

### G - Identical Cases

In [247]:
table_4_G_observed = df.duplicated()
table_4_G_observed = table_4_G_observed[table_4_G_observed]
len(table_4_G_observed)

4183

### H - Inconsistent Cases

In [248]:
def table_4_G(df):
    non_full_duplicates = df.drop_duplicates()
    non_duplicates = non_full_duplicates[non_full_duplicates.duplicated(keep = False, subset=non_full_duplicates.columns[:-1])]

    inconsistent_cases = []
    for row in non_duplicates.index:
        i = df.loc[row]
        inconsistent_cases.extend(df[df.eq(i).all(axis=1)].index)
    return inconsistent_cases

table_4_H_observed = table_4_G(df)
len(table_4_H_observed)

100

### I - Missing Values

In [249]:
table_4_I_observed = df.isnull().any(axis=1)
table_4_I_observed = table_4_I_observed[table_4_I_observed]
len(table_4_I_observed)

0

### J - Conflicting Feature Values

In [250]:
def table_4_J():
    problematic_cases = []
    for i in range(0, len(df)):
        for expr, features in edited_integrity_checks("df.iloc[{}]".format(i)).items():
            if eval(expr):
                problematic_cases.append(i)
                break

    return problematic_cases

table_4_J_observed = table_4_J()
len(table_4_J_observed)

# Integrity Checks
#print(df.iloc[i].HALSTEAD_EFFORT, round(df.iloc[i].HALSTEAD_VOLUME * df.iloc[i].HALSTEAD_DIFFICULTY, 2))
#print(df.iloc[i].HALSTEAD_VOLUME, round((df.iloc[i].NUM_OPERATORS + df.iloc[i].NUM_OPERANDS) * np.log2(df.iloc[i].NUM_UNIQUE_OPERATORS + df.iloc[i].NUM_UNIQUE_OPERANDS), 2))
#print(df.iloc[i].HALSTEAD_LEVEL, round((2 / df.iloc[i].NUM_UNIQUE_OPERATORS) * (df.iloc[i].NUM_UNIQUE_OPERANDS / df.iloc[i].NUM_OPERANDS), 2))
#print(df.iloc[i].HALSTEAD_PROG_TIME, df.iloc[i].HALSTEAD_EFFORT / 18)

<string>:1: RuntimeWarning: invalid value encountered in double_scalars
<string>:1: RuntimeWarning: divide by zero encountered in double_scalars
<string>:1: RuntimeWarning: divide by zero encountered in log2

3511

### K - Implausible Values

In [251]:
def table_4_K():
    implausible_cases = []
    for i in range(0, len(df)):
        if df.iloc[i].LOC_TOTAL == 0 :
            implausible_cases.append(i)
            continue

        if (df.iloc[i] < 0).any():
            implausible_cases.append(i)
            continue

        for col, val in df.iloc[i].items():
            if "COUNT" in col:
                if val % 1 != 0:
                    implausible_cases.append(i)
                    break

    return implausible_cases

table_4_K_observed = table_4_K()
len(table_4_K_observed)




#def has_implausible_values(local_df):
#    # Check if any result for LOC_TOTAL is 0
#    if local_df.LOC_TOTAL[lambda x: x == 0].any():
#        return True
#
#    # Check for any feature that has a value of less than 0
#    if (local_df < 0).any().any():
#        return True
#
#    # Check if any 'COUNT' value is not an integer.
#    # Because all values in this DF are floats, and because casting these floats to an int
#    # would change their values if they weren't whole numbers, a modulo operator is used instead.
#    for col_name, col_values in local_df.items():
#        if "COUNT" in col_name:
#            if col_values.apply(lambda x: x % 1 != 0).any():
#                return True
#
#    return False

#table_4_K_observed = df.apply(lambda row: has_implausible_values(row.to_frame().transpose()), axis=1).sum()
#table_4_K_observed

1084

### L - Total Problem Cases, DS'

In [252]:
table_4_L_observed = set()
table_4_L_observed.update(table_4_I_observed, table_4_J_observed, table_4_K_observed)
len(table_4_L_observed)

4007

### M - Total Problem Cases, DS''

In [253]:
table_4_M_observed = set()
table_4_M_observed.update(table_4_G_observed, table_4_H_observed, table_4_I_observed, table_4_J_observed, table_4_K_observed)
len(table_4_M_observed)

4007

In [254]:
data = []
for message, expected, observed in [
    ("Identical Cases", 4621, len(table_4_G_observed)),
    ("Inconsistent Cases", 100, len(table_4_H_observed)),
    ("Cases with Missing Values", 0, len(table_4_I_observed)),
    ("Cases with Conflicting Feature Values", 129, len(table_4_J_observed)),
    ("Cases with Implausible Values", 1084, len(table_4_K_observed)),
    ("Total Problem Cases, DS'", 1163, len(table_4_L_observed)),
    ("Total Problem Cases, DS''", 4297, len(table_4_M_observed))
]:
    data.append([message, expected, observed])

df_result = pd.DataFrame(data, columns=["Message", "Expected", "Observed"])
display(Markdown("**Table 4 (by case) Comparison**"))
df_result
# For bonus points add a style to highlight rows that do not match

**Table 4 (by case) Comparison**

                                 Message  Expected  Observed
0                        Identical Cases      4621      4183
1                     Inconsistent Cases       100       100
2              Cases with Missing Values         0         0
3  Cases with Conflicting Feature Values       129      3511
4          Cases with Implausible Values      1084      1084
5               Total Problem Cases, DS'      1163      4007
6              Total Problem Cases, DS''      4297      4007